*{
    flex-wrap: wrap;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 12px;
}
.header_buttons img{
    width: 30px;
}
.side_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-right: 25px;
}
.container{
    display: flex;
}
main{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.ancora{
    color: white;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    width: 200px;
    border-radius: 12px;
    background-color: black;
    padding: 3px;
    margin: 5px
}
.produtos{
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 200px;
}
.produto_camiseta{
    text-align: center;
    border: 7px solid white;
    border-radius: 15px;
    max-width: 250px;
    box-shadow: 0px 7px 12px  black;
    box-sizing: border-box;
    overflow: hidden;
}
.produto_camiseta img{
    width: 100%;
}
.botao{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 19px;
    cursor: pointer;
    transition: 10ms;
    width: 100%;
}
.botao:hover{
    opacity: 0.7;
}
footer{
    
    background-color: black;
    padding: 50px;
    margin: 5px;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
}
.Icones_Footer img{
    margin: 10px;
}
.Icones_Footer p{
    margin-top: 100px;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
}
video{
   border-radius: 12px;
    width: 700px; 
    margin-bottom: 20px;
    margin-top: 10px
}