body{
    background-color: rgb(133, 83, 36);
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex_centro{
    justify-content: space-evenly;
    align-items: center;
}

.block{
    width: 200px;
    height: 110px;
    font-size: 20px;
    margin: 20px;
    background-color: white;
    box-sizing: border-box;
}

.block:hover{
    border:7px solid black
}